@import "tailwindcss";

@theme {
  --color-primary: #FEFFC4;
  --color-second: #FFDE63;
  --color-third: #FFBC4C;
  --color-myBlue: #799EFF;

  --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
    'Segoe UI Symbol', 'Noto Color Emoji';
}

#logo-sidebar {
  transition: transform 0.3s ease-in-out;
}
